<!DOCTYPE html>
<html lang="pt-BR" ng-app="appSisDoeAgendamentoOnline">

<head>

<title>SisDoe - Agendamento de doa&ccedil;&atilde;o</title>

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />

<!-- Core CSS - Include with every page -->
<link href="css/bootstrap.min.css" rel="stylesheet" />

<!-- Custom Fonts -->
<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet"
	type="text/css" />

<!-- SB Admin CSS - Include with every page -->
<link href="css/sb-admin.css" rel="stylesheet" />

<link href="css/bootstrap-datetimepicker.css" rel="stylesheet" />


<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
	        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	    <![endif]-->

<style>
table {
	border-collapse: collapse;
}

.sel {
	background-color: #bce8f1;
}

.datepickerdemoBasicUsage {
  /** Demo styles for mdCalendar. */ }
  .datepickerdemoBasicUsage md-content {
    padding-bottom: 200px; }
  .datepickerdemoBasicUsage .validation-messages {
    font-size: 12px;
    color: #dd2c00;
    margin: 10px 0 0 25px; }
   .space-right { padding-right: 3%; }
    
</style>

</head>

<body ng-controller="AgendamentoCtrl as ctrl">

	<div id="wrapper">

		<!-- Navigation -->
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html">Agendamento</a>
			</div>

			<!-- Top Menu Items -->
			<ul class="nav navbar-right top-nav" ng-controller="AcessoCtrl">

				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown"><i class="fa fa-user"></i> {{user.principal}} <b
						class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#"><i class="fa fa-fw fa-user"></i> Perfil</a>
						</li>
						<li class="divider"></li>
						<li><a href="#" ng-click="logout()"><i class="fa fa-fw fa-power-off"></i> Sair</a></li>
					</ul></li>
			</ul>
			<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav side-nav">
					<li><a href="agendamento.html"><i class="fa fa-fw fa-calendar"></i>
							Agendamento</a></li>
				</ul>
			</div>

			<!-- /.navbar-collapse -->
		</nav>

		<div id="page-wrapper">

			<div class="container-fluid">
			
				<!-- 
				<div class="row" ng-controller="AcessoCtrl">
                    <div class="col-lg-12">
                        <div class="alert alert-info alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <i class="fa fa-info-circle"></i>  <strong>Bem-vindo, {{user.principal}}!</strong>
                        </div>
                    </div>
                </div>
                 -->

				<div class="alert alert-info alert-dismissable"
					ng-repeat="alert in $root.alertsInfo track by $index">
					<button type="button" class="close" data-dismiss="alert"
						aria-hidden="true" ng-click="$root.closeAlertInfo($index)" dismiss-on-timeout="2000" close="$root.closeAlertWarning($index)">×</button>
						<i class="fa fa-info-circle"></i>  <strong>{{ alert.msg }}</strong>
				</div>
				
				<div class="alert alert-warning alert-dismissable"
					ng-repeat="alert in $root.alertsWarning track by $index">
					<button type="button" class="close" data-dismiss="alert" 
						aria-hidden="true" dismiss-on-timeout="2000" ng-click="$root.closeAlertWarning($index)" dismiss-on-timeout="2000" close="$root.closeAlertWarning($index)">×</button>
						<i class="fa fa-warning"></i>  <strong>{{ alert.msg }}</strong>
				</div>

				<!-- /.row -->

				<!-- <div ng-show="!(ctrl.agendamentoFound.id.length)">  -->
				<div ng-show="!ctrl.showForm" >
					<div class="row" >
						<div class="col-lg-12">
							<div class="panel panel-primary">
								<div class="panel-heading">
									<div class="row">
										<div class="col-xs-3">
											<i class="fa fa-calendar fa-5x"></i>
										</div>
										<div class="col-xs-9 text-right">
											<div class="huge">Agendamento</div>
											<div>
												<b>Local:</b> {{ ctrl.agendamentoFound.localDoacao.nome }}
											</div>
											<div>
												<b>Data e hora:</b> {{ ctrl.agendamentoFound.dataHora }}
											</div>
											<div>
												<b>Endere&ccedil;o:</b> {{ ctrl.agendamentoFound.localDoacao.endereco }}
											</div>
										</div>
									</div>
								</div>
								<div class="panel-footer">
									<span class="pull-right " ><a href alt="Excluir"
										ng-click="ctrl.delete()"><i class="fa fa-times fa-2x"></i></a></span>
									<span class="pull-right space-right"><a href alt="Editar" id="editarfn"
										ng-click=" ctrl.edit(); ctrl.showForm=!ctrl.showForm; " ><i class="fa fa-edit fa-2x"></i></a></span>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
						<!--  /.col-lg-12 -->
					</div>
				</div>

				<!--  <div ng-show="(ctrl.agendamentoFound.id.length)"> -->
				<div ng-show="ctrl.showForm" >
					<div class="row">
						<div class="col-lg-8">
						
							<div id="geolocalizacao"></div>
							<form role="form" id="formLocalizacao" ng-submit="ctrl.buscarLocaisDoacao()" ng-show=" ctrl.showFormLocalizacao " forceBind>
	
								<div class="form-group">
									<label>Sua localização:</label> 
								</div>
	
								<div class="form-group">
									<label>Latitude:</label> 
									<input type="text" class="form-control" ng-readonly="true" id="lat" ng-model="ctrl.localizacao.lat"/>
								</div>
								
								<div class="form-group">
									<label>Longitude:</label> 
									<input type="text" class="form-control" ng-readonly="true" on id="lng" ng-model="ctrl.localizacao.lng" ng-change="ctrl.buscarLocaisDoacao()"/>
								</div>
								
								<div class="form-group">
									<label>Ou informe apenas o CEP abaixo:</label> 
								</div>
								
								<div class="form-group">
									<label>CEP:</label> 
									<input type="tel" id="cep" class="form-control cep" maxlength="10" placeholder="00.000-000" ng-keypress="ctrl.changeCEP($event)" ng-model="ctrl.localizacao.cep" />
								</div>
								
								<!--  <button type="submit" class="btn btn-lg btn-success">Buscar</button> -->
	
							</form>

							<form role="form" id="formAgendamento" ng-submit="ctrl.save()">

								<div class="form-group" ng-show=" !ctrl.showFormLocalizacao ">
									<label>Local de Doa&ccedil;&atilde;o Selecionado:</label>
									<div class='input-group' >
										<input type='text' maxlength="5" alt="Alterar local de doação"
											class="form-control" ng-readonly="true" ng-value=" ctrl.localizacaoCompleta() "/>
											<span class="input-group-addon" ng-click=" ctrl.showFormLocalizacao = !ctrl.showFormLocalizacao;" onclick=" initLocalizacao(); " ><span class="glyphicon glyphicon-map-marker"> </span>
										</span>
									</div>
								</div>

								<div ng-show=" ctrl.showFormLocalizacao ">
							
									<div class="form-group">
										<label>Locais de Doação encontrados. Selecione:</label>
									</div>
			
									<div class="table-responsive" ng-if=" ctrl.showFormLocalizacao ">
										<table class="table table-hover ">
											<caption></caption>
											<thead>
												<tr>
													<th></th>
													<th>#</th>
													<th>Nome</th>
													<th>Endere&ccedil;o</th>
													<th>Dist&acirc;ncia</th>
												</tr>
											</thead>
											<tbody ng-show="ctrl.locaisDoacao.length!=0" ng-repeat="local in ctrl.locaisDoacao" ng-switch on="ctrl.isSelLocalDoacao(local)">
												<tr ng-class="{sel:ctrl.selIndexLocalDoacao==$index}">
													<td><input type="radio" name="local" ng-click="ctrl.selLocalDoacaoWithIndex(local,$index)" required="required"  /></td>
													<td>{{$index + 1}}</td>
													<td>{{local.localDoacao.nome}}</td>
													<td>{{local.localDoacao.endereco}}</td>
													<td>{{local.distancia.toFixed(2)}} Km</td>
												</tr>
											</tbody>
											<tbody ng-show="ctrl.locaisDoacao.length==0">
												<tr>
													<td colspan="4">Nenhum local de doa&ccedil;&atilde;o encontrado. Verifique as informa&ccedil;&otilde;es e tente novamente.</td>
												</tr>
											</tbody>
										</table>
									</div>
								
								</div>
	
								<div class="form-group">
					                <label>Data:</label>
					                <div class='input-group' id='datepicker'>
					                    <input type='text' id="data" name="data" class="form-control" ng-readonly="true" ng-model="ctrl.agendamento.data" required="required" />
					                    <span class="input-group-addon">
					                        <span class="glyphicon glyphicon-calendar"></span>
					                    </span>
					                </div>
					            </div>
					            
					            <div class="form-group">
					                <label>Hora:</label>
					                <div class='input-group' id='timepicker'>
					                    <input type='text' id="hora" name="hora" class="form-control" ng-readonly="true" ng-model="ctrl.agendamento.hora" required="required" />
					                    <span class="input-group-addon">
					                        <span class="glyphicon glyphicon-time"></span>
					                    </span>
					                </div>
					            </div>
					            
					            <input type='hidden' class="form-control" ng-value="ctrl.agendamento.hora" />
					            
					            <button type="submit" class="btn btn-lg btn-success">Salvar</button>
					            
				            </form>
				            
	
						</div>
						<!--  /.col-lg-12 -->
						
					</div>

				</div>
				<!-- /.row -->

			</div>
			<!-- /.container-fluid -->

		</div>
		<!-- /#page-wrapper -->

	</div>
	<!-- /#wrapper -->

	<div>

		<!-- Core Scripts - Include with every page -->
		<script src="js/jquery.js"></script>
		
		<script src="js/bootstrap.min.js"></script>
		
		<script src="js/jquery.mask.min.js" type="text/javascript"></script>

		<script src="js/moment-with-locales.min.js" type="text/javascript"></script>
		
		<script src="js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>		
		
		<!-- AngularJS -->
		<script src="js/angular.js" type="text/javascript"></script>
		<script src="js/angular-route.js" type="text/javascript"></script>
		<!--  <script src="//code.angularjs.org/1.5.8/angular-cookies.js" type="text/javascript"></script>-->
		<script src="js/angular-cookies.js" type="text/javascript"></script>
		<script src="js/angular-resource.js" type="text/javascript"></script>
		<script src="js/keepr.min.js" type="text/javascript"></script>
		<script src="js/angular-jwt.js" type="text/javascript"></script>
		
		<!-- APP Angular -->
		<script src="js/app/app.js?n=32" type="text/javascript"></script>
		
		<!-- Directivas -->
		<script src="js/app/directives/forceBind.js?n=1" type="text/javascript"></script>
		
		<!-- APP Services -->
		<script src="js/app/services/acessoService.js?n=5" type="text/javascript"></script>
		<script src="js/app/services/agendamentoService.js?n=24" type="text/javascript"></script>
		<script src="js/app/services/localDoacaoService.js?n=5" type="text/javascript"></script>
		<script src="js/app/services/userService.js?n=2" type="text/javascript"></script>
		<script src="js/app/services/alertService.js?n=5" type="text/javascript"></script>
		
		<!-- APP Controllers -->
		<script src="js/app/controllers/acessoController.js?n=13" type="text/javascript"></script>
		<script src="js/app/controllers/agendamentoController.js?n=82" type="text/javascript"></script>
		
		<!-- Validate -->
		<script src="js/mask.js" type="text/javascript"></script>
		
		<script th:src="@{/resources/angular-utf8-base64.min.js}"></script>
		
		<!--    <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>-->
		
		<script>
		
			var x=$("#geolocalizacao");

			$(function() {
				initLocalizacao();
				configDateTimePicket();
			});
			
			function configDateTimePicket(){
				$('#datepicker').datetimepicker({
                    format: 'L',
					locale: 'pt-br',
					ignoreReadonly: true,
                });
				
				$("#datepicker").on("dp.change", function (e) {
					$('#data').trigger('input');
				});
				
				$('#timepicker').datetimepicker({
                    format: 'LT',
					locale: 'pt-br',
					stepping: 15,
					ignoreReadonly: true,
					disabledHours: [0,1,2,3,4,5,6,7,18,19,20,21,22,23]
                });
				
				$("#timepicker").on("dp.change", function (e) {
					$('#hora').trigger('input');
				});
				
				var today = moment();
				$('#datepicker').data("DateTimePicker").minDate(moment(today).add(1, 'day'));
				$('#datepicker').data("DateTimePicker").maxDate(moment(today).add(3, 'month'));
				$('#datepicker').data("DateTimePicker").daysOfWeekDisabled([0,6]);
				
				$('#data').trigger('input');
				$('#hora').trigger('input');
			}

			function initLocalizacao() {
				if (navigator.geolocation) {
					navigator.geolocation.getCurrentPosition(setPosition,
							showError);
				} else {
					x.innerHTML = "Seu browser n&atilde;o suporta Geolocaliza&ccedil;&atilde;o.";
				}
			}

			function setPosition(position) {
				$("#lat").val(position.coords.latitude.toFixed(8)).trigger('input');
				$("#lng").val(position.coords.longitude.toFixed(8)).trigger('input');
			}
			function showError(error) {
				var componente = "<div class='alert alert-warning alert-dismissable'><button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button><i class='fa fa-info-circle'></i>  <strong><MSG_TEXT></strong></div>";
				switch (error.code) {
				case error.PERMISSION_DENIED:
					x.innerHTML = componente
							.replace(
									"<MSG_TEXT>",
									"Usu&aacute;rio rejeitou a solicita&ccedil;&atilde;o de Geolocaliza&ccedil;&atilde;o.");
					break;
				case error.POSITION_UNAVAILABLE:
					x.innerHTML = componente.replace("<MSG_TEXT>",
							"Localiza&ccedil;&atilde;o indispon&iacute;vel.");
					break;
				case error.TIMEOUT:
					x.innerHTML = componente.replace("<MSG_TEXT>",
							"A requisi&ccedil;&atilde;o expirou.");
					break;
				case error.UNKNOWN_ERROR:
					x.innerHTML = componente.replace("<MSG_TEXT>",
							"Algum erro desconhecido aconteceu.");
					break;
				}
			}
		</script>
	
	</div>
</body>

</html>
