<!DOCTYPE html>
<html lang="pt-BR" ng-app="appSisDoeComunicaSUS">

<head>

	<title>SisDoe - Comunica SUS</title>
	
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	
	<!-- Core CSS - Include with every page -->
	<link href="css/bootstrap.min.css" rel="stylesheet" />
	
	<!-- Custom Fonts -->
	<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet"
		type="text/css" />
	
	<!-- SB Admin CSS - Include with every page -->
	<link href="css/sb-admin.css" rel="stylesheet" />
	
	<link href="css/bootstrap-datetimepicker.css" rel="stylesheet" />
	
	
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	           <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	           <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	       <![endif]-->
	
	<style>
		table {
			border-collapse: collapse;
		}
		
		.sel {
			background-color: #bce8f1;
		}
		
		.datepickerdemoBasicUsage {
			/** Demo styles for mdCalendar. */
			
		}
		
		.datepickerdemoBasicUsage md-content {
			padding-bottom: 200px;
		}
		
		.datepickerdemoBasicUsage .validation-messages {
			font-size: 12px;
			color: #dd2c00;
			margin: 10px 0 0 25px;
		}
		
		.space-right {
			padding-right: 3%;
		}
	</style>
</head>

<body ng-controller="ComunicaSusCtrl as ctrl">

	<div id="wrapper">

		<!-- Navigation -->
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html">Agendamento</a>
			</div>

			<!-- Top Menu Items -->
			<ul class="nav navbar-right top-nav" ng-controller="AcessoCtrl">

				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown"><i class="fa fa-user"></i>
						{{user.principal}} <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#"><i class="fa fa-fw fa-user"></i> Perfil</a></li>
						<li class="divider"></li>
						<li><a href="#" ng-click="logout()"><i
								class="fa fa-fw fa-power-off"></i> Sair</a></li>
					</ul></li>
			</ul>
			<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav side-nav">
					<li><a href="index.html"><i
							class="fa fa-fw fa-check-square-o"></i> Resultados de Exames</a></li>
				</ul>
			</div>

			<!-- /.navbar-collapse -->
		</nav>

		<div id="page-wrapper">

			<div class="container-fluid">
			
				<!-- 
				<div class="row" ng-controller="AcessoCtrl">
                    <div class="col-lg-12">
                        <div class="alert alert-info alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <i class="fa fa-info-circle"></i>  <strong>Bem-vindo, {{user.principal}}!</strong>
                        </div>
                    </div>
                </div>
                 -->

				<div class="alert alert-info alert-dismissable"
					ng-repeat="alert in $root.alertsInfo track by $index">
					<button type="button" class="close" data-dismiss="alert"
						aria-hidden="true" ng-click="$root.closeAlertInfo($index)" dismiss-on-timeout="2000" close="$root.closeAlertWarning($index)">×</button>
						<i class="fa fa-info-circle"></i>  <strong>{{ alert.msg }}</strong>
				</div>
				
				<div class="alert alert-warning alert-dismissable"
					ng-repeat="alert in $root.alertsWarning track by $index">
					<button type="button" class="close" data-dismiss="alert" 
						aria-hidden="true" dismiss-on-timeout="2000" ng-click="$root.closeAlertWarning($index)" dismiss-on-timeout="2000" close="$root.closeAlertWarning($index)">×</button>
						<i class="fa fa-warning"></i>  <strong>{{ alert.msg }}</strong>
				</div>

				<div class="row">
					<div class="col-lg-12">

						<form role="form" id="formComunicaSus" ng-submit="ctrl.enviar()">


							<!-- smart table -->
							<div class="table-responsive">

								<table st-table="ctrl.resultadosExamesListados" st-safe-src="ctrl.resultadosExames" class="table table-striped table-hover ">
								
									<caption>Resultados de Exames</caption>
									<thead>
										<tr>
										   <th><input type="checkbox" onclick="marcarDesmarcarResultados()" ng-click="ctrl.selTodosResultadoExame($event)" checked id="marcarTodos"/></th> 
											<th st-sort="id">#</th>
											<th st-sort="doador.nome">Doador</th>
											<th st-sort="coleta.dataColetaStr">Data Coleta</th>
											<th st-sort="coleta.grupoSanguineo">G. Sangu&iacute;neo</th>
											<th st-sort="coleta.fatorRH">F. RH</th>
											<th>A&ccedil;&otilde;es</th>
										</tr>
										<tr>
											<th colspan="7"><input st-search="" class="form-control"
												placeholder="procurar ..." type="text" /></th>
										</tr>
									</thead>
									<tbody ng-show="ctrl.resultadosExames.length!=0">
										<tr ng-repeat="r in ctrl.resultadosExamesListados">
										   <td><input type="checkbox" onclick="desmarcarMarcarTodos()" checked class="marcar" name="resultado" ng-click="ctrl.selResultadoExame($event, r)" /></td>
											<td>{{r.id}}</td>
											<td>{{r.doador.nome}}</td>
											<td>{{r.coleta.dataColeta | date : "dd/MM/yyyy" }}</td>
											<td>{{r.coleta.grupoSanguineo}}</td>
											<td>
											    <span class="label label-success" ng-if="r.coleta.fatorRH">Positivo</span>
                                     <span class="label label-danger" ng-if="!r.coleta.fatorRH">Negativo</span> 
											</td>
											<td>
												<button type="button" ng-click="ctrl.selecionaResultadoExame(r)" data-toggle="modal" data-target="#detalheResultadoExame"
													class="btn btn-sm btn-default">
													<i class="glyphicon glyphicon-search"></i>
												</button>
											</td>
										</tr>
									</tbody>
		                            <tbody ng-show="ctrl.resultadosExames.length==0">
		                               <tr>
		                                  <td colspan="7">Nenhum resultado de exame encontrado.</td>
		                               </tr>
		                     </tbody>
		                     
		                     <tfoot ng-show="ctrl.resultadosExames.length!=0">
							         <tr>
							            <td colspan="6" class="text-center">
							               <div st-pagination="" st-items-by-page="5"></div>
							            </td>
							         </tr>
							      </tfoot>
								</table>

							</div>
							
							<!-- /smart table -->

							<button type="submit" class="btn btn-lg btn-success">Enviar</button>

						</form>

					</div>
					<!--  /.col-lg-12 -->

				</div>
				<!-- /.row -->

			</div>
			<!-- /.container-fluid -->

		</div>
		<!-- /#page-wrapper -->

	</div>
	<!-- /#wrapper -->

	<div>
		<!-- Modal -->
		<div class="modal fade" id="detalheResultadoExame" tabindex="-1"
			role="dialog" aria-labelledby="resultadoExameModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="resultadoExameModalLabel">Detalhamento
							de Resultado de Exame</h4>
					</div>
					<div class="modal-body">

						<div class="panel panel-primary">
							<div class="panel-heading">Doador</div>
							<div class="panel-body">
							  <span><strong>Nome: </strong>{{ctrl.resultadoExameSelecionado.doador.nome}}</span> <br/>
							  <span><strong>CPF: </strong>{{ctrl.resultadoExameSelecionado.doador.cpf}}</span> <br/>
							  <span><strong>RG: </strong>{{ctrl.resultadoExameSelecionado.doador.rg}}</span> <br/>
							  <span><strong>Data de Nascimento: </strong>{{ctrl.resultadoExameSelecionado.doador.dataNascimento|date:"dd/MM/yyyy"}}</span> <br/>
							  <span><strong>Sexo: </strong>{{ctrl.resultadoExameSelecionado.doador.sexo == 'FEMININO' ? 'Feminino' : 'Masculino'|date:"dd/MM/yyyy"}}</span>
							</div>
						</div>

						<div class="panel panel-primary">
							<div class="panel-heading">Coleta</div>
		                    <div class="panel-body">
		                       <span><strong>Data coleta: </strong>{{ctrl.resultadoExameSelecionado.coleta.dataColeta|date:"dd/MM/yyyy"}}</span> <br/>
		                       <span><strong>Grupo Sangu&iacute;neo: </strong>{{ctrl.resultadoExameSelecionado.coleta.grupoSanguineo}}</span> <br/>
		                       <span><strong>Fator RH: </strong>
		                          <span class="label label-success" ng-if="ctrl.resultadoExameSelecionado.coleta.fatorRH">Positivo</span>
		                          <span class="label label-danger" ng-if="!ctrl.resultadoExameSelecionado.coleta.fatorRH">Negativo</span>
		                       </span> <br/>
		                    </div>
						</div>

						<div class="panel panel-primary">
							<div class="panel-heading">Resultados de Exames</div>
							<div class="panel-body">
							
							<div class="table-responsive">
	                          <table class="table table-bordered">
	                          	<caption>AIDS</caption>
	                          	<tbody>
	                          		<tr>
	                          			<th scope="row">
	                          				<code><strong><strong>Anti-HIV</strong></strong></code>
	                          			</th>
	                          			<td>
	                          				<span class="label label-success" ng-if="ctrl.resultadoExameSelecionado.resultadoExameAIDS.antiHIV">Positivo</span>
	                          				<span class="label label-danger" ng-if="!ctrl.resultadoExameSelecionado.resultadoExameAIDS.antiHIV">Negativo</span>
	                          			</td>
	                          		</tr>
	                          	</tbody>
	                          </table>
	                       </div>

	                       <div class="table-responsive">
	                          <table class="table table-bordered">
	                          	<caption>S&iacute;filis</caption>
	                          	<tbody>
	                          		<tr>
	                          			<th scope="row">
	                          				<code><strong><strong>VDRL</strong></strong></code>
	                          			</th>
	                          			<td>
	                          				<span class="label label-success" ng-if="ctrl.resultadoExameSelecionado.resultadoExameSifilis.VDRL">Positivo</span>
											<span class="label label-danger" ng-if="!ctrl.resultadoExameSelecionado.resultadoExameSifilis.VDRL">Negativo</span>
	                          			</td>
	                          		</tr>
	                          	</tbody>
	                          </table>
	                       </div>
	                       
	                       <div class="table-responsive">
	                          <table class="table table-bordered">
	                          	<caption>Doen&ccedil;a de Chagas</caption>
	                          	<tbody>
	                          		<tr>
	                          			<th scope="row">
	                          				<code><strong><strong>Hemaglutinação Indireta (hAI)</strong></strong></code>
	                          			</th>
	                          			<td>
	                          				{{ctrl.resultadoExameSelecionado.resultadoExameDoencaChagas.hAI}}
	                          			</td>
	                          		</tr>
	                          			
	                          		<tr>
	                          			<th scope="row">
	                          				<code><strong><strong>Imunofluorescência Indireta (IFI)</strong></strong></code>
	                          			</th>
	                          			<td>
	                          				{{ctrl.resultadoExameSelecionado.resultadoExameDoencaChagas.iFI}}
	                          			</td>
	                          		</tr>
	                          		
	                          		<tr>
	                          			<th scope="row">
	                          				<code><strong><strong>Teste Imunoenzimático (ELISA)</strong></strong></code>
	                          			</th>
	                          			<td>
	                          				{{ctrl.resultadoExameSelecionado.resultadoExameDoencaChagas.eLISA}}
	                          			</td>
	                          		</tr>
	                          		
	                          		<tr>
	                          			<th scope="row">
	                          				<code><strong><strong>Aglutinação Direta com 2 Mercapto-Etanol (AD2ME)</strong></strong></code>
	                          			</th>
	                          			<td>
	                          				{{ctrl.resultadoExameSelecionado.resultadoExameDoencaChagas.aD2ME}}
	                          			</td>
	                          		</tr>
	                          		
	                          	</tbody>
	                          </table>
	                       
	                       </div>
                       
	                       <div class="table-responsive">
	                          <table class="table table-bordered">
	                          	<caption>Hepatite B</caption>
	                          	<tbody>
	                          		<tr>
	                          			<th scope="row">
	                          				<code><strong>Antígeno de Superfície do Vírus B (HBsAg)</strong></code>
	                          			</th>
	                          			<td>
	                          				<span class="label label-success" ng-if="ctrl.resultadoExameSelecionado.resultadoExameHepatiteB.hBsAg">Positivo</span>
	                           				<span class="label label-danger" ng-if="!ctrl.resultadoExameSelecionado.resultadoExameHepatiteB.hBsAg">Negativo</span>
	                          			</td>
	                          		</tr>
	                          		
	                          		<tr>
	                          			<th scope="row">
	                          				<code><strong>Anticorpo IgM Contra o Antígeno Core do Vírus B (Anti-HBc IgM)</strong></code>
	                          			</th>
	                          			<td>
	                          				<span class="label label-success" ng-if="ctrl.resultadoExameSelecionado.resultadoExameHepatiteB.hBsAg">Positivo</span>
	                           				<span class="label label-danger" ng-if="!ctrl.resultadoExameSelecionado.resultadoExameHepatiteB.hBsAg">Negativo</span>
	                          			</td>
	                          		</tr>
	                          		
	                          		<tr>
	                          			<th scope="row">
	                          				<code><strong>Anticorpos Totais Contra o Antígeno Core do Vírus B (Anti-HBc total)</strong></code>
	                          			</th>
	                          			<td>
	                          				<span class="label label-success" ng-if="ctrl.resultadoExameSelecionado.resultadoExameHepatiteB.antiHBcTotal">Positivo</span>
	                           				<span class="label label-danger" ng-if="!ctrl.resultadoExameSelecionado.resultadoExameHepatiteB.antiHBcTotal">Negativo</span>
	                          			</td>
	                          		</tr>
	                          		
	                          		<tr>
	                          			<th scope="row">
	                          				<code><strong>Antígeno “e” do Vírus B (HBeAg)</strong></code>
	                          			</th>
	                          			<td>
	                          				<span class="label label-success" ng-if="ctrl.resultadoExameSelecionado.resultadoExameHepatiteB.hBeAg">Positivo</span>
	                           				<span class="label label-danger" ng-if="!ctrl.resultadoExameSelecionado.resultadoExameHepatiteB.hBeAg">Negativo</span>
	                          			</td>
	                          		</tr>
	                          		
	                          		<tr>
	                          			<th scope="row">
	                          				<code><strong>Anticorpo Contra o Antígeno “e” do Vírus B (Anti-HBe)</strong></code>
	                          			</th>
	                          			<td>
	                          				<span class="label label-success" ng-if="ctrl.resultadoExameSelecionado.resultadoExameHepatiteB.antiHBe">Positivo</span>
	                           				<span class="label label-danger" ng-if="!ctrl.resultadoExameSelecionado.resultadoExameHepatiteB.antiHBe">Negativo</span>
	                          			</td>
	                          		</tr>
	                          		
	                          		<tr>
	                          			<th scope="row">
	                          				<code><strong>Anticorpo Contra o Antígeno de Superfície do Vírus B (Anti-HBs)</strong></code>
	                          			</th>
	                          			<td>
	                          				<span class="label label-success" ng-if="ctrl.resultadoExameSelecionado.resultadoExameHepatiteB.antiHBs">Positivo</span>
	                           				<span class="label label-danger" ng-if="!ctrl.resultadoExameSelecionado.resultadoExameHepatiteB.antiHBs">Negativo</span>
	                          			</td>
	                          		</tr>
	                          	</tbody>
	                          </table>
	                       </div>
	                       
	                       <div class="table-responsive">
	                          <table class="table table-bordered">
	                          	<caption>Hepatite C</caption>
	                          	<tbody>
	                          		<tr>
	                          			<th scope="row">
	                          				<code><strong><strong>Anti-HCV</strong></strong></code>
	                          			</th>
	                          			<td>
	                          				<span class="label label-success" ng-if="ctrl.resultadoExameSelecionado.resultadoExameHepatiteC.antiHCV">Positivo</span>
                           					<span class="label label-danger" ng-if="!ctrl.resultadoExameSelecionado.resultadoExameHepatiteC.antiHCV">Negativo</span>
	                          			</td>
	                          	</tbody>
	                          </table>
	                       </div>
	                       
						   <div class="modal-footer">
						   	  <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
						   </div>
					   </div>
				   </div>
				</div>
			</div>
		</div>
		</div>

		<div>

			<!-- Core Scripts - Include with every page -->
			<script src="js/jquery.js"></script>

			<script src="js/bootstrap.min.js"></script>

			<script src="js/jquery.mask.min.js" type="text/javascript"></script>

			<script src="js/moment-with-locales.min.js" type="text/javascript"></script>

			<script src="js/bootstrap-datetimepicker.min.js"
				type="text/javascript"></script>

			<!-- AngularJS -->
			<script src="js/angular.js" type="text/javascript"></script>
			<script src="js/angular-route.js" type="text/javascript"></script>
			<!--  <script src="//code.angularjs.org/1.5.8/angular-cookies.js" type="text/javascript"></script>-->
			<script src="js/angular-cookies.js" type="text/javascript"></script>
			<script src="js/angular-resource.js" type="text/javascript"></script>
			<script src="js/keepr.min.js" type="text/javascript"></script>
			<script src="js/angular-jwt.js" type="text/javascript"></script>
			<script src="js/smart-table.js" type="text/javascript"></script>

			<!-- APP Angular -->
			<script src="js/app/app.js?n=2" type="text/javascript"></script>

			<!-- Directivas -->
			<script src="js/app/directives/forceBind.js?n=1"
				type="text/javascript"></script>

			<!-- APP Services -->
			
			<script src="js/app/services/alertService.js?n=3"
				type="text/javascript"></script>
			<script src="js/app/services/acessoService.js?n=1"
				type="text/javascript"></script>
			<script src="js/app/services/comunicaSusService.js?n=1"
				type="text/javascript"></script>

			<!-- APP Controllers -->
			<script src="js/app/controllers/acessoController.js?n=1"
				type="text/javascript"></script>
			<script src="js/app/controllers/comunicaSusController.js?n=23"
				type="text/javascript"></script>

			<!-- Validate -->
			<script src="js/mask.js" type="text/javascript"></script>

			<script th:src="@{/resources/angular-utf8-base64.min.js}"></script>

			<!--    <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>-->
			
			
			<script>
				function marcarDesmarcarResultados() {
					$(".marcar").each(function() {
						if($("#marcarTodos").prop("checked")){
							$(this).prop("checked", true);
						}else{
							$(this).prop("checked", false);
						}
						$(this).trigger('input');
					});
				}
				
				function desmarcarMarcarTodos(){
					$("#marcarTodos").prop("checked", false);
				}
			</script>
		</div>

	</div>

</body>

</html>
